html
  head
    title= "Xmas Movies"
  body
    h1= "Dan & Seyi's Xmas Movie Picker"
    div.selected-movie
      span.selected-movie-title
    ul.movies
    div.random-movie
      button(class='random-movie-btn' data-random-movie-btn) Pick a movie at random
    script(src='/scripts/main.js')